.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #444;
    background-color: transparent;
}

.clickable-row {
	cursor: pointer;
}

.vcenter {
    font-size: 100%;
}

.enviroment {
	margin-right: 5px;
}

.alt-bg {
	background-color: #f4f4f4;
}

.without-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.loading-container {
    
  opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:0.5s;
	-moz-animation-duration:0.5s;
	animation-duration:0.5s;
  
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.loading {
  margin: 50px auto;
  background: #0070B0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
  animation: scale 2.5s forwards;
  -webkit-animation: scale 2.5s forwards;
  -moz-animation: scale 2.5s forwards;
  -o-animation: scale 2.5s forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;  
  -o-animation-iteration-count: infinite;
    opacity: 0.5;
    filter: alpha(opacity=50)
  
}

.loading2 {
  margin: 50px auto;
  background: #0070B0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -150px;
  
  animation: scale2 2.5s forwards;
  -webkit-animation: scale2 2.5s forwards;
  -moz-animation: scale2 2.5s forwards;
  -o-animation: scale2 2.5s forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;  
  -o-animation-iteration-count: infinite;
    opacity: 0.5;
    filter: alpha(opacity=50)
  
}

@keyframes scale {
0%   {transform: scale(0,0);}
50%   {transform: scale(1,1);}
100% {transform: scale(0,0);}
}

@-webkit-keyframes scale {
0%   {-webkit-transform: scale(0,0);}
50%   {-webkit-transform: scale(1,1);}
100% {-webkit-transform: scale(0,0);}
}

@-moz-keyframes scale {
0%   {-moz-transform: scale(0,0);}
50%   {-moz-transform: scale(1,1);}
100% {-moz-transform: scale(0,0);}
}

@-o-keyframes scale {
0%   {-o-transform: scale(0,0);}
50%   {-o-transform: scale(1,1);}
100% {-o-transform: scale(0,0);}
}

@keyframes scale2 {
0%   {transform: scale(1,1);}
50%   {transform: scale(0,0);}
100% {transform: scale(1,1);}
}

@-webkit-keyframes scale2 {
0%   {-webkit-transform: scale(1,1);}
50%   {-webkit-transform: scale(0,0);}
100% {-webkit-transform: scale(1,1);}
}

@-moz-keyframes scale2 {
0%   {-moz-transform: scale(1,1);}
50%   {-moz-transform: scale(0,0);}
100% {-moz-transform: scale(1,1);}
}

@-o-keyframes scale2 {
0%   {-o-transform: scale(1,1);}
50%   {-o-transform: scale(0,0);}
100% {-o-transform: scale(1,1);}
}

.main-header {
  position: fixed;
  width: 100%;
}

.main-sidebar {
  position: fixed;
}