.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #444;
    background-color: transparent;
}

.clickable-row {
	cursor: pointer;
}

.vcenter {
    font-size: 100%;
}

.enviroment {
	margin-right: 5px;
}

.alt-bg {
	background-color: #f4f4f4;
}

.without-padding {
   padding: 0 !important;
   margin: 0 !important;
}