<!--<form id="logoutForm" class="navbar-right">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>Hello User</a>
        </li>
        <li>
            <button class="btn btn-link navbar-btn navbar-link">Log off</button>
        </li>
    </ul>
</form>-->
<ul class="nav navbar-nav navbar-right">
    <li><a *ngIf="!loggedIn" routerLink="/login">Log in</a><a *ngIf="loggedIn" routerLink="/Manage">{{currentUser.userName}}</a></li>
    <li><a *ngIf="!loggedIn" routerLink="/register">Register</a><a style="cursor: pointer" *ngIf="loggedIn" (click)="logout($event)">Log out</a></li>
</ul>