<section class="content-header">

	<h1>
		New Project
	</h1>
	
	<ol class="breadcrumb">
		<li><a href="" ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="" ui-sref="main.createProject" class="active">New Project</a></li>
	</ol>
	
</section>



<loading isLoading="{{loading}}"></loading>

<section class="content" >

	<div class="row" ng-class="loading ? 'hide' : ''">
	
		<div class="col-md-5 col-lg-4">
			
			<div class="box box-primary ">
					
				<div class="box-header with-border">
					
					<h3 class="box-title">{{project.name}}</h3>
					
				</div>
				
				<div class="box-body">
					
					<form name="createProjectFrom">
						
						<div class="form-group">
							
							<label>Name</label>
							
							<input ng-model="project.name" name="projectName" class="form-control" required data-ng-maxlength="50"  />
							
							<span ng-show="createProjectFrom.projectName.$error.required" class="text-red">A name for the project is required.</span>
  							<span ng-show="createProjectFrom.projectName.$error.maxlength" class="text-red">The name cannot be more than 50 characters.</span>
							
						</div>
						
						<div class="form-group">
							
							<label>Dashboard color</label>
							
							<select ng-model="project.dashboardColor" class="form-control">
								
								<option value="blue">Blue</option>
								<option value="red">Red</option>
								<option value="yellow">Yellow</option>
								<option value="green">Green</option>
								<option value="purple">Purple</option>
								
							</select>
							
						</div>
						
						<button class="btn btn-success" ng-click="createProject(project)">Create</button>
						
					</form>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
		
</section>