<section class="content-header">

	<h1>
		Dashboard
		<small>
			Version 2.0
		</small>
	</h1>

</section>

<section class="content">

	<div class="row">

		<loading isLoading="{{loading}}"></loading>

        <div class="col-lg-4 col-md-6 col-xs-12" ng-repeat="project in projects">

			<div class="small-box bg-{{project.dashboardColor}}">

				<div class="inner">

					<h3>{{project.name}}</h3>

					<div class="col-xs-6"> 
						<p>{{project.versions}} Versions</p>
						<p>{{project.sessions}} Sessions</p>
					</div>
					<div class="col-xs-6"> 
						<p>{{project.issueTypes}} Issue Types</p>
						<p>{{project.issues}} Issues</p>
					</div>

				</div>

				<div style="clear:both;"></div>

				<a href="" ui-sref="project({projectId: project.id})" class="small-box-footer">

					View project <i class="fa fa-arrow-circle-right"></i>

				</a>

			</div>

	    </div>

	</div>

</section>