<section class="content-header">
	<h1>Help</h1>
</section>

<section class="content">
    
    <div section="main">
        <h2>Main</h2>
        <p>
            On this page there is general help
            Then there are sub-pages with categories (Platforms, Service, Troubleshoot, Error) and under that detail pages.
        </p>
            
        <h3>Troubleshoot</h3>
        <ul>
            <li><a href="" ui-sref="main.help({section: 'troubleshoot', detail: 'A'})">A</a></li>
            <li><a href="" ui-sref="main.help({section: 'troubleshoot', detail: 'B'})">B</a></li>
        </ul>
    </div>
    
    <div section="platforms">
        <h2>Platforms</h2>
        <p>
            
        </p>
    </div>
    
    <div section="service">
        <h2>Service</h2>
        <p>
        
        </p>
    </div>
    
    <div section="troubleshoot">
        <h2>Troubleshoot</h2>
        <div detail="A">
            <h3>A</h3>
            <p>
                
            </p>
        </div>
        
        <div detail="B">
            <h3>B</h3>
            <p>
                
            </p>
        </div>
    </div>
    
</section>