
<div class="modal-header">
    
    <h3 class="modal-title">
        Add members
    </h3>
    
</div>

<div class="modal-body">
    
    <div class="form-group">
        
        <label for="email">Search for user</label>
        <input type="text" class="form-control" id="email" ng-model="invite.email" autocomplete="off" placeholder="Enter email">
        
    </div>
    
    
    <ul class="products-list product-list-in-box">
        
        <li class="item" ng-repeat="user in users">
            
            <div class="product-img">
                
                <img src="{{user.avatarUrl}}" alt="{{user.fullName}}">
                
            </div>
            
            <a href="javascript:void(0)" class="product-title">
                <!-- <i class="fa fa-play fa-3x" style="float:right; color:#aaa"></i> -->
                <img class="invitemember-img" src="/images/invitemember.svg" alt="Invite Member Arrow"/> 
            </a>
            
            <div class="product-info">
                
                <a href="javascript:void(0)" class="product-title">{{user.fullName}} ({{user.userName}})
                    
                    <span class="product-description">
                        
                        {{user.eMail}}
                        
                    </span>
                    
                </a>
                
            </div>
            
        </li>
        
    </ul>
    
</div>

<div class="modal-footer">
    
    <button class="btn btn-primary" type="button" ng-click="ok(invite)">Send invite</button>
    
</div>