<section class="content-header">

	<h1  ng-class="(projectLoading || applicationLoading || versionLoading) ? 'hide' : ''">
		{{issueType.type}}
	</h1>

	<ol class="breadcrumb"  ng-class="(projectLoading || applicationLoading || versionLoading) ? 'hide' : ''">
		<li><a href="" ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="" ui-sref="project({projectId: project.id})">{{project.name}}</a></li>
		<li><a href="" ui-sref="project.application({projectId: project.id, applicationId: application.id})">{{application.name}}</a></li>
		<li><a href="" ui-sref="version({projectId: project.id, applicationId: application.id, versionId: version.id})">{{version.name}}</a></li>
		<li><a href="" ui-sref="issueType({projectId: project.id, applicationId: application.id, versionId: version.id, issueTypeId: issueType.id})" class="active">{{issueType.type}}</a></li>
	</ol>

</section>

<loading isLoading="{{projectLoading || applicationLoading || versionLoading}}"></loading>

<section class="content"  ng-class="(projectLoading || applicationLoading || versionLoading) ? 'hide' : ''">
	
	<div class="row">
	
		<div class="col-lg-12">
		
			<div class="box box-primary">
			
				<div class="box-header with-border">
				
					<span class="label vcenter label-{{issueType.level == 'Warning' ? 'warning' : (issueType.level == 'Error' ? 'danger' : 'primary')}}" >{{issueType.level}}</span>
					
					<h3 class="box-title">
						{{issueType.message}}
					</h3>
					
					
				</div>
									
				<div class="box-body" >
								
					<loading isLoading="{{issueTypeLoading}}"></loading>
					
					<div ng-class="issueTypeLoading ? 'hide' : ''">
						
						<h4>Stack Trace</h4>
						
						<pre>{{issueType.stackTrace}}</pre>
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<div class="col-lg-12">
		
			<div class="box box-primary">
			
				<div class="box-header with-border">
				
					<h3 class="box-title">
						Issues
					</h3>
					
				</div>
				
				<div class="box-body">
							
					<loading isLoading="{{loading}}"></loading>
						
					<div class="table-responsive" ng-class="loading ? 'hide' : ''">
					
						<table class="table table-hover">
							
							<thead>
								
								<tr>
									<th></th>							
									<th><a href="" ng-click="orderByField='time'; reverseSort = !reverseSort">Time</a></th>
									<th><a href="" ng-click="orderByField='user'; reverseSort = !reverseSort">User</a></th>
									<th><a href="" ng-click="orderByField='enviroment'; reverseSort = !reverseSort">Enviroment</a></th>
									
								</tr>
								
							</thead>
							
							<tbody>
								
								<tr ng-repeat-start="issue in issues | orderBy:orderByField:reverseSort"  ng-click="issue.data != null ? (issue.expanded = !issue.expanded) : ('')" class="clickable-row" ng-class="issue.expanded ? 'alt-bg' : ''">
									<td style="width:5px;"><i class="fa fa-info" ng-if="issue.data != null"></i></td>
									<td time="{{issue.time}}"></td>
									<td>{{issue.user}}</td>
									<td><span class="label label-primary">{{issue.enviroment}}</span></td>
									
								</tr>
								
								<tr ng-if="issue.expanded" ng-repeat-end="" class="alt-bg" ng-if="issue.data != null">
									
									<td colspan="4">
										<p ng-repeat="(key, value) in issue.data">{{key}}: {{value}}</p>
									</td>
									
								</tr>
								
							</tbody>
							
						</table>
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</section>