<div class="login-box">
  
  <div class="login-logo">
    
    <a href="" ui-sref="login"><b>Quilt</b>4</a>
    
  </div><!-- /.login-logo -->
  
  
  <loading isLoading="{{loading}}"></loading>

  <div class="login-box-body" ng-class="loading ? 'hide' : ''">
    
    <p class="login-box-msg">Sign in</p>
    
    <form ng-submit="login()">
    
      <div class="form-group has-feedback">
        
        <input type="text" class="form-control" placeholder="Username" ng-model="username">
        
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        
      </div>
      
      <div class="form-group has-feedback">
        
        <input type="password" class="form-control" placeholder="Password" ng-model="password">
        
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        
      </div>
      
      <div class="row">
      
      <div class="col-xs-8">
        {{message}}
      </div>
      
        <div class="col-xs-4">
          
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          
        </div><!-- /.col -->
        
      </div>
      
    </form>
  
    <a href="" ui-sref="register" class="text-center">Register new account</a>
  
  </div><!-- /.login-box-body -->
  
</div><!-- /.login-box -->