
    <div class="wrapper">
<header class="main-header">
        <!-- Logo -->
        <a href="" ui-sref="dashboard" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>Q</b>4</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Quilt</b>4</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="" ng-click="toggleSidebar()" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{user.avatarUrl}}" class="user-image" alt="{{user.firstName}} {{user.lastName}}">
                  <span class="hidden-xs">{{user.firstName}} {{user.lastName}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="{{user.avatarUrl}}" class="img-circle" alt="{{user.firstName}} {{user.lastName}}">
                    <p>
                      {{user.firstName}} {{user.lastName}}
                      <small>@{{user.userName}}</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="" class="btn btn-default btn-flat" >Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="" class="btn btn-default btn-flat" ng-click="logout()">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- =============================================== -->

      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar ">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar sidebar-toggle ">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{{user.avatarUrl}}" class="img-circle" alt="{{user.firstName}} {{user.lastName}}">
            </div>
            <div class="pull-left info">
              <p>{{user.firstName}} {{user.lastName}}</p>
              <a href=""><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
           
            <li ui-sref-active="active">
              <a href ui-sref="main.dashboard">
                <i class="fa fa-th"></i> <span>Dashboard</span> 
              </a>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Help</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li ui-sref-active="active">
                    <a href ui-sref="main.help({section: 'about', detail: ''})">
                        <i class="fa fa-th"></i> <span>About</span> 
                    </a>
                    <li ui-sref-active="active">
                    <a href ui-sref="main.help({section: 'gettingStarted', detail: ''})">
                        <i class="fa fa-th"></i> <span>Getting Started</span> 
                    </a>
                    </li>
                
                    <li ui-sref-active="active">
                    <a href ui-sref="main.help({section: 'platforms', detail: ''})">
                        <i class="fa fa-th"></i> <span>Platforms</span> 
                    </a>
                    </li>
                
                    <li ui-sref-active="active">
                    <a href ui-sref="main.help({section: 'service', detail: ''})">
                        <i class="fa fa-th"></i> <span>Service</span> 
                    </a>
                    </li>
                
                    <li ui-sref-active="active">
                    <a href ui-sref="main.help({section: 'troubleshoot', detail: ''})">
                        <i class="fa fa-th"></i> <span>Troubleshoot</span> 
                    </a>
                    </li>
                
                    <li ui-sref-active="active">
                    <a href ui-sref="main.help({section: 'contribute', detail: ''})">
                        <i class="fa fa-th"></i> <span>Contribute</span> 
                    </a>
                    </li>
                
                    <li ui-sref-active="active">
                    <a href ui-sref="main.help({section: 'contact', detail: ''})">
                        <i class="fa fa-th"></i> <span>Contact</span> 
                    </a>
                    </li>
                
                    <li ui-sref-active="active">
                    <a href ui-sref="main.help({section: 'error', detail: ''})">
                        <i class="fa fa-th"></i> <span>Error</span> 
                    </a>
                    </li>
                
                    <li ui-sref-active="active">
                    <a href ui-sref="main.help({section: 'welcome', detail: ''})">
                        <i class="fa fa-th"></i> <span>Welcome</span> 
                    </a>
                    </li>
                </ul>
            </li>
           
            
            
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        
        <div ui-view id="masterUI"></div>

      </div><!-- /.content-wrapper -->

      <!--<footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0.0
        </div>
        <strong>Design by <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong>
      </footer>-->

      
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
      
    </div><!-- ./wrapper -->