<section class="content-header">

	<h1>
		{{project.name}}
	</h1>
	
	<ol class="breadcrumb">
		<li><a href="" ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="" ui-sref="project({projectId: project.id})" class="active">{{project.name}}</a></li>
	</ol>
	
</section>

<section class="content">

	<div class="row">

    	<div class="col-md-5 col-lg-4 without-padding">

			<div class="col-lg-12">
				
				<div class="box box-solid">
	
					<div class="box-header with-border">
	
						<h3 class="box-title">Applications</h3>
	
						<div class="box-tools">
	
							<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	
						</div>
	
					</div>
	
					<div class="box-body no-padding">
	
						<loading isLoading="{{loading}}"></loading>
	
						<ul class="nav nav-pills nav-stacked">
	
							<li ui-sref-active="active" ng-repeat="application in applications" >
	
								<a href="" ui-sref="project.application({applicationId: application.id})">
									<i class="fa fa-inbox"></i> {{application.name}} <span class="label label-primary pull-right">{{application.versions}}</span>
								</a>
	
							</li>
	
						</ul>
	
					</div><!-- /.box-body -->
	
				</div><!-- /. box -->
				
			</div>
			
			<div class="col-lg-12">
				
				<div class="box box-primary collapsed-box">
					
					<div class="box-header with-border">
						
						<h3 class="box-title">Settings</h3>
	
						<div class="box-tools">
	
							<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
	
						</div>
						
					</div>
					
					<div class="box-body">
						
						<div class="form-group">
							
							<label>Client token</label>
							
							<input disabled class="form-control" value="9ACAUJIWD0L02DOZJ5VEM2Y1HO0NS62R" />
							
						</div>
						
						<div class="form-group">
							
							<label>Name</label>
							
							<input ng-model="project.name" class="form-control" />
							
						</div>
						
						<div class="form-group">
							
							<label>Dashboard color</label>
							
							<select ng-model="project.dashboardColor" class="form-control">
								
								<option value="blue">Blue</option>
								<option value="red">Red</option>
								<option value="yellow">Yellow</option>
								<option value="green">Green</option>
								<option value="purple">Purple</option>
								
							</select>
							
						</div>
						
					</div>
					
				</div>
				
			</div>

        </div><!-- /.col -->

        <div ui-view></div>
		
	</div><!-- /.row -->

</section>