<section class="content-header">

	<h1>
		{{project.name}}
	</h1>
	
	<ol class="breadcrumb" ng-class="loading ? 'hide' : ''">
		<li><a href="" ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="" ui-sref="main.project({projectId: project.projectKey})" class="active">{{project.name}}</a></li>
	</ol>
	
</section>


<loading isLoading="{{loading}}"></loading>

<section class="content" >

	<div class="row" ng-class="loading ? 'hide' : ''">

    	<div class="col-md-5 col-lg-4 without-padding">

			<div class="col-lg-12">
				
				<div class="box box-solid">
	
					<div class="box-header with-border">
	
						<h3 class="box-title">Applications</h3>
	
						<div class="box-tools">
	
							<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	
						</div>
	
					</div>
	
					<div class="box-body no-padding">
	
						<ul class="nav nav-pills nav-stacked">
	
							<li ui-sref-active="active" ng-repeat="application in project.applications" >
	
								<a href="" ui-sref="main.project.application({applicationId: application.applicationKey})">
									<i class="fa fa-inbox"></i> {{application.name}} <span class="label label-primary pull-right">{{application.versionCount}}</span>
								</a>
	
							</li>
	
						</ul>
	
					</div><!-- /.box-body -->
	
				</div><!-- /. box -->
				
			</div>
			
            <div class="col-lg-12">
                
                <div class="box box-success collapsed-box">
                    
                    <div class="box-header with-border">
                        
                        <h3 class="box-title">Members</h3>
                        
                        <div class="box-tools">
	
							<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
	
						</div>
                        
                    </div>
                    
                    <div class="box-body no-padding">
                    
                        <loading isLoading="{{userLoading}}"></loading>
                        
                        <ul class="users-list clearfix" ng-class="userLoading ? 'hide' : ''">
                            
                            <li ng-repeat="user in users">
                                
                                <img src="{{user.avatarUrl}}" height="128px" width="128px" alt="{{user.firstName}} {{user.lastName}}">
                                <a class="users-list-name" href="">{{user.firstName}} {{user.lastName}}</a>
                                <span class="users-list-date">@{{user.userName}}</span>
                                
                            </li>
                            
                            <li>
                                <a class="users-list-name" href="" ng-click="inviteMember()"><img src="images/add.png" height="128px" width="128px" alt="Add members"></a>
                                <a class="users-list-name" href="" ng-click="inviteMember()">Add members</a>
                                
                            </li>
                            
                        </ul>
                        
                    </div>
                    
                </div>
                
            </div>
            
			<div class="col-lg-12">
				
				<div class="box box-primary" ng-class="project.applications.length > 0 ? 'collapsed-box' : ''">
					
					<div class="box-header with-border">
						
						<h3 class="box-title">Settings</h3>
	
						<div class="box-tools">
	
							<button class="btn btn-box-tool" data-widget="collapse"><i class="fa" ng-class="project.applications.length > 0 ? ' fa-plus' : 'fa-minus'"></i></button>
	
						</div>
						
					</div>
					
					<div class="box-body">
										
						<loading isLoading="{{settingsLoading}}"></loading>	
						
						<form name="createProjectFrom" ng-show="!settingsLoading">
						
							<div class="alert alert-success alert-dismissible" ng-show="projectSavedSuccess">
								<button type="button" class="close" ng-click="hideProjectSavedSuccessAlert()" >×</button>
								<h4><i class="icon fa fa-check"></i> Settings saved</h4>
								The settings for the project has been saved!
							</div>
						
							<div class="form-group">
								
								<label>Client token</label>
								
								<input disabled class="form-control" value="{{project.clientToken}}" />
								
							</div>
							
							<div class="form-group">
								
								<label>Name</label>
								
								<input ng-model="project.name" name="projectName" class="form-control" required data-ng-maxlength="50"  />
								
								<span ng-show="createProjectFrom.projectName.$error.required" class="text-red">A name for the project is required.</span>
								<span ng-show="createProjectFrom.projectName.$error.maxlength" class="text-red">The name cannot be more than 50 characters.</span>
								
							</div>
							
							<div class="form-group">
								
								<label>Dashboard color</label>
								
								<select ng-model="project.dashboardColor" class="form-control">
									
									<option value="blue">Blue</option>
									<option value="red">Red</option>
									<option value="yellow">Yellow</option>
									<option value="green">Green</option>
									<option value="purple">Purple</option>
									
								</select>
								
							</div>
							
							<button class="btn btn-success" ng-click="updateProject(project)">Save</button>
							
						</form> 
						
					</div>
					
				</div>
				
			</div>

        </div><!-- /.col -->

        <div ui-view></div>
		
	</div><!-- /.row -->

</section>